/*Reset csss for cross browser support*/
* {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
	font-size:1em;
	font-style:normal;
}
fieldset, img, hr {
	border:none;
}
h3 {
	color:#00acdb;
	font-size: 16px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a, input {
	outline:none;
}
/*Reset css finish*/

/*************** common css *******************/
.alignnone {
	margin: 5px 0px 0px 0px;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float:right;
	margin: 0px 0px 20px 10px;
}
.alignleft {
	float: left;
	margin: 0px 20px 10px 0;
}
a img.alignright {
	float: right;
	margin: 5px 10px 10px 10px;
}
a img.alignnone {
	margin: 5px 10px 10px 0;
}
a img.alignleft {
	float: left;
	margin: 15px 10px 10px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/*************************************************/

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster 1.4.eot');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster 1.4.ttf');
	font-weight: normal;
	font-style: normal;		 
}

@font-face {
    font-family: 'JosefinSansBI';
    src: url('fonts/JosefinSans-BoldItalic.eot');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'JosefinSansBI';
    src: url('fonts/JosefinSans-BoldItalic.ttf');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'JosefinSansL';
    src: url('fonts/JosefinSansStd-Light.eot');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'JosefinSansL';
    src: url('fonts/JosefinSansStd-Light.ttf');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'dali';
    src: url('fonts/dali____.eot');
    src: url('fonts/dali____.eot?#iefix') format('embedded-opentype'),
         url('fonts/dali____.woff') format('woff'),
         url('fonts/dali____.ttf') format('truetype'),
         url('fonts/dali____.svg#dali') format('svg');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'Dolmen';
    src: url('fonts/Dolmen__.eot');
    src: url('fonts/Dolmen__.eot?#iefix') format('embedded-opentype'),
         url('fonts/Dolmen__.woff') format('woff'),
         url('fonts/Dolmen__.ttf') format('truetype'),
         url('fonts/Dolmen__.svg#Dolmen') format('svg');
	font-weight: normal;
	font-style: normal;		 
}
@font-face {
    font-family: 'Drycut';
    src: url('fonts/Drycut ITC.eot');
    src: url('fonts/Drycut ITC.eot?#iefix') format('embedded-opentype'),
         url('fonts/Drycut ITC.woff') format('woff'),
         url('fonts/Drycut ITC.ttf') format('truetype'),
         url('fonts/Drycut ITC.svg#Drycut') format('svg');
	font-weight: normal;
	font-style: normal;		 
}
body{
	background:#fff !important;
	color:#131313;
        font-family: arial;
}
#main{
	max-width:1170px;
	margin:0 auto;
	min-height:180px;
        min-width: 320px;
}
#main .header_block{
	min-height:140px;
	width:100%;
	/*background:url(../images/logo_bg.jpg) repeat;*/
        display: inline-block;
}
#main .header_block .header_logo{
	/*background:url(../images/logo_background.jpg) repeat;*/
	height:139px;
	width:48.12%;
	float:left;
}
#main .header_block .header_logo .logo{
	background:url(images/logo.png) no-repeat;
	height:139px;
	width:100%;
	float:left;
	margin:15px 0px 0px 0px;
}
#main .header_block .menu_block{
	height:140px;
	width:51.87%;
	float:left;
}
#main .header_block .menu_block ul{
	list-style:none;
	width:100%;
	height:111px;
	line-height:117px;
	font-family:Century Gothic;
	font-weight:normal;
	font-size:19px;
	margin-top:15px;
}
#main .header_block .menu_block ul li{
	float:left;
	background:url(../images/seperator.png) no-repeat left top;
	padding-left:48px;
	padding-right:55px;
}
#main .header_block .menu_block ul li a{
	text-decoration:none;
	color:#131313;
}
#main .header_block .menu_block ul li a:hover{
	text-decoration:underline;
}
#main .header_block .small_menu_block{
   display: none;
   min-height: 0px;
   width: 100%;
   float: left;
}
#main .header_block .menu_icon{
   height: 30px;
   width: 35px;
   float:right;
   margin-top: 8%;
   margin-right: 20px;
   display: none;
   background: url(../images/small_menu_icon.png) no-repeat;
   cursor: pointer;
}
#main .header_block .small_menu_block .small_menu{
    background: #E7E7E7;
    display: none;   
    width: 99%;
    z-index: 1002;
    list-style: none;
    padding-bottom: 10px;   
    padding-top: 5px;
}
#main .header_block .small_menu_block .small_menu li{
   list-style: none;
   padding-left: 15px;
   
}
#main .header_block .small_menu_block .small_menu li a{
    text-decoration: none;
    color:#131313;
    font-family:Century Gothic;
    font-weight:normal;
    font-size:22px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    width: 100%;
}
#main .blue_box{
	width:100%;
	background:url(../images/blue_strip.png) repeat-x top;
	height:48px;
	margin-top:-5px;
}
@media screen and (max-width: 1281px){
	#main .header_block .menu_block ul li{
		padding-left:30px;
		padding-right:30px;
	}
}
@media screen and (max-width: 1030px){
    #main .header_block .header_logo{
        width: 40%;
    }
    #main .header_block .menu_block{
        width: 60%;
    }
}
@media screen and (max-width: 900px){
    #main .header_block .menu_block{
        display: none;
    }
    #main .header_block .menu_icon,
    #main .header_block .small_menu_block{
        display: block;
    }
#main .header_block .header_logo{
    width: 616px;
}
}
@media screen and (max-width: 721px){
#main .header_block .header_logo{
    width: 89%;
}
#main .header_block .header_logo .logo{
    background-size: 80%;
    height: 110px;
    margin-top: 2%;
}
}
@media screen and (max-width: 541px){
#main .header_block .header_logo{
    width: 80%;
}
#main .header_block .header_logo .logo{
    background-size: 100%;
    height: 100px;
    margin-top: 5%;
}
    #main .header_block .menu_icon{
        margin-top: 10%;
    }
}
@media screen and (max-width: 433px){
    #main .header_block .menu_icon{
        margin-top: 12%;
    }
#main .header_block .header_logo .logo{
    background-size: 100%;
    height: 100px;
    margin-top: 8%;
}
}
@media screen and (max-width: 380px){
    #main .header_block .menu_icon{
        margin-top: 18%;
    }
#main .header_block .header_logo .logo{
    margin-top: 12%;
     background-size: 120%;
}
}
#main #content_block{
    margin-top: 15px;
    width: 100%;
    display:inline-block;
}
#main #content_block .first_block{
    width: 100%;
    background: #fff;
    min-height: 160px;
    text-align: center;
	margin-bottom: -4px;
}
#main #content_block .first_block .first_line{
    min-height: 85px;
    margin: 0 auto;
    width: 840px;
}
#main #content_block .first_block .first_line .ten{
    color: #15AAA4;
    font-family: Drycut;
    font-size: 90px;
    margin-right: 15px;  
    float:left;
}
#main #content_block .first_block .first_line .text{
    font-size: 40px;
    float:left;
    min-height: 40px;
    margin-top: 37px;
}
@media screen and (max-width: 900px){
#main #content_block .first_block .first_line{
    width: 95%;
}
#main #content_block .first_block .first_line .text{
    width: 70%;
}
}
@media screen and (max-width: 481px){
#main #content_block .first_block .first_line .text{
    width: 95%;
    margin-top: 0px;
}
#main #content_block .first_block .first_line .ten{
    float: none;
    margin: 0 auto;
}
}
#main #content_block .second_block{
    min-height: 606px;
    width: 100%;
    display: inline-block;
    clear:both;
}
#main #content_block .second_block .first_line{
    min-height: 100px;
    font-size: 80px;
    width: 696px;
    *width: 696px;
    margin: 0 auto;
    text-align: left;
}
#main #content_block .second_block .first_line .texts{
    background: url(../images/as_echo_as.png) no-repeat left 18px;
    padding-left: 65px;
    font-family: Century Gothic;
    float:left;
     min-height: 65px;
}
#main #content_block .second_block .first_line .numbers{
    height: 65px;
    font-family: dali;
    float:left;
}
#main #content_block .second_block .second_line{
    min-height: 280px;
    width: 100%;
}
#main #content_block .second_block .second_line .image_block{
    width: 564px;
    min-height: 278px;
    float:left;
    margin-top: 20px;
    margin-left: 50px;
}
#main #content_block .second_block .second_line .text_block{
    width: 334px;
    min-height: 238px;
    float:left;
    margin-left: 63px;
    font-size: 28px;
    color:#3d3d3d;
    margin-top: 60px;
    font-family: arial;
}
#main #content_block .second_block .second_line .text_block .tell_us{
    float:left;
    color: #B9C227;
    font-size: 73px;
    height: 73px;
    margin-top: 30px;
    margin-right: 40px;
}
#main #content_block .second_block .second_line .text_block .one{
    float:left;
     color: #B9C227;
    font-size: 192px;
    font-family: Dolmen;
}
#main #content_block .second_block .second_line .text_block .large_text{
    height: 136px;
    line-height: 136px;
}
@media screen and (max-width: 1281px){
#main #content_block .second_block .second_line .image_block{
    margin-left: 20px;
}
}
@media screen and (max-width: 981px){
#main #content_block .second_block .second_line .image_block{
    float:none;
    margin: 0 auto;
}
#main #content_block .second_block .second_line .text_block{
    float:none;
    margin: 0 auto;
}
#main #content_block .second_block .first_line{
    width: 95%;
}
}
@media screen and (max-width: 641px){
#main #content_block .second_block .first_line{
    width: 95%;
    min-height: 200px;
}
#main #content_block .second_block .second_line .image_block{
    width: 278px;
    margin: 0 auto;
}
}
@media screen and (max-width: 481px){
#main #content_block .second_block .first_line{
   font-size: 70px;
    
}
#main #content_block .second_block .second_line .image_block{
    width:80%;
}
#main #content_block .second_block .second_line .text_block{
    width: 90%;
}
}
@media screen and (max-width: 381px){
#main #content_block .second_block .first_line{
   font-size: 60px;
    width: 70%;
}
#main #content_block .second_block .second_line .text_block .large_text{
    height: 265px;
}
#main #content_block .second_block .second_line .text_block .tell_us{
    margin-top: 0px;
    height: 108px;
}
}
#main #content_block .third_block{
    margin-top: -5px;
	min-height: 103px;
	display: inline-block;
	width: 100%;
	padding-top: 30px;
}
#main #content_block .third_block .images_block{
    float:right;
    width: 567px;
    min-height: 283px;
    margin-right: 55px;
}
#main #content_block .third_block .text_block{
    float:right;
    width: 35%;
    height: 283px;
    margin-right: 55px;
    font-size: 27px;
    font-family: Arial;
    color:#3d3d3d;
}
#main #content_block .third_block .text_block .two{
    font-size: 137px;
    color:#30abdb;
    height: 115px;
    margin-left: 20px;
    font-family: Dolmen;
}
#main #content_block .third_block .text_block .small_text{
    font-size: 23px;
    color:#666666;
}
#main #content_block .green{
    color:#b9c227;
}
#main #content_block .sky_blue{
    color:#30abdb;
}
#main #content_block .blue{
    color:#15aaa4;
}
#main #content_block .red{
    color:#e22342;
}
@media screen and (max-width: 1049px){
    #main #content_block .third_block {
    float:none;
    width: 100%;
    margin: 20px auto;
    }
    
#main #content_block .third_block .text_block{
    float:none;
    width: 60%;
    margin: 0 auto;
}
#main #content_block .third_block .images_block{
    float:none;
    width: 570px;
    margin: 0 auto;
}
}
@media screen and (max-width: 639px){
    
#main #content_block .third_block .text_block{
    float:none;
    width: 85%;
    margin: 0 auto;
}
#main #content_block .third_block .images_block{
    float:none;
    width: 278px;
    margin: 0 auto;
}
}
#main #content_block .fourth_block{
    width: 67.96%;
    margin: 30px auto 0px;
}
#main #content_block .fourth_block .text_block{
    color:#474747;
    font-family: arial;
    position: relative;
    min-height: 110px;
}
#main #content_block .fourth_block .text_block .permission{
    position: absolute;
    left:55px;
    background: url(../images/persmission.png) no-repeat left top;
    font-size: 31px;
    text-align: right;
    padding: 0px 0px 0px 160px;
    min-height: 110px;
}
#main #content_block .fourth_block .text_block .permission .per_first_line{
     color: #E22342;
    float: right;
    font-size: 44px;
    height: 38px;
    margin-right: 85px;
    width: 227px;
    
}
#main #content_block .fourth_block .text_block .three{
    position: absolute;
    right:0px;
    font-family: Dolmen;
    font-size: 137px;
    color:#e22342;
    top:-75px;
}
#main #content_block .fourth_block .text_block_second{
    text-align: center;
    color:#737373;
    font-size: 27px;
    margin-bottom: 25px;
}
#main #content_block .fourth_block .text_block_second .then{
    font-size: 51px;
    color:#a6bd0a;
}
#main #content_block .fourth_block .image_block{
    width: 80%;
    margin: 0 auto;
}
#main #content_block .fourth_block .image_block img{
    width: 100%;
}
@media screen and (max-width: 1080px){
    #main #content_block .fourth_block{
        width: 82%;
    }
}
@media screen and (max-width: 900px){
    #main #content_block .fourth_block{
        width: 99%;
    }
    #main #content_block .fourth_block .image_block{
        width: 95%;
}
}
@media screen and (max-width: 759px){
   #main #content_block .fourth_block .text_block .permission{
        left:0px;
        text-align: left
    }
    #main #content_block .fourth_block .text_block .permission .per_first_line{
        float: left;
        width: 80%;
    }
    #main #content_block .fourth_block .text_block{
        height: 140px;
    }
}
@media screen and (max-width: 539px){
    #main #content_block .fourth_block .text_block .permission{
        width: 60%;
    }
    #main #content_block .fourth_block .text_block{
        height: 175px;
    }
}
@media screen and (max-width: 479px){
    #main #content_block .fourth_block .text_block .permission{
        background: none;
        padding-left: 20px;
        width: 90%;
    }
}
@media screen and (max-width: 481px){
#main #content_block .fourth_block .text_block{
        height: 195px;
    }
}
#main #content_block .fifth_block{
   width: 100%;
	float: left;
	color: #3d3d3d;
	font-size: 27px;
	margin-top: 30px;
	clear: both;
	min-height: 423px;
}
#main #content_block .fifth_block .title{
    color:#30abdb;
    font-size: 50px;
    font-weight: bold;
}
@media screen and (max-width: 641px){
    #main #content_block .fifth_block{
        width: 95%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 379px){
    #main #content_block .fifth_block{
        width: 90%;
    }
}
#main #content_block .sixth_box{
    width: 100%;
    color:#3d3d3d;
    font-size: 27px;
    min-height: 135px;
    clear: both;
}
#main #content_block .sixth_block{
    width: 80%;
    float:right;
    color:#3d3d3d;
    font-size: 27px;
    margin-top: 50px;
    margin-right: 50px;
    min-height: 135px;
    clear: both;
}
#main #content_block .sixth_block .title{
    color:#e22342;
    font-size: 48px;
    text-align: right;
}
#main #content_block .sixth_block .text{
    color:#3d3d3d;
    font-size: 28px;
    text-align: center;
}
#main #content_block .sixth_block  .small_text{
    width: 60%;
    margin: 0 auto;
    color:#737373;
    font-size: 19px;
    text-align: center;
}
#main footer{
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 641px){
    #main #content_block .sixth_block{
        width: 95%;
        margin-top: 20px;
        margin-right: 20px;
    }
    #main #content_block .sixth_block .small_text{
        width: 80%;
    }
}
@media screen and (max-width: 379px){
   #main #content_block .sixth_block{
        width: 90%;
    }
}
#main #content_block .seventh_block{
    clear: both;
    min-height: 300px;
    float: left;
    width: 77.34%;
    margin-top: 50px;
    display: inline-block;
}
#main #content_block .seventh_block .text_block{
    width: 525px;
    float:left;
    margin-left: 24px;
    font-size: 24px;
    color:#595959;
}
#main #content_block .seventh_block .text_block .ready{
    width: 372px;
    margin-bottom: 5px;
}
#main #content_block .seventh_block .text_block .ready img{
    width: 100%;
}
#main #content_block .seventh_block .images_block{
    width: 296px;
    float:right;
}
@media screen and (max-width: 1081px){
   #main #content_block .seventh_block{
        width: 95%;
    }
}
@media screen and (max-width: 900px){
   #main #content_block .seventh_block .text_block{
        width: 50%;
    }
}
@media screen and (max-width:721px){
   #main #content_block .seventh_block .text_block{
        width: 90%;
        clear: both;
        min-height: 200px;
        display: inline-block;
    }
    #main #content_block .seventh_block .images_block{
    float:none;
    margin: 20px auto;
    clear: both;
}
}
@media screen and (max-width:431px){
   #main #content_block .seventh_block .text_block .ready{
       width: 100%;
   }
}
#main #footer_block{
    min-height: 65px;
    width: 100%;
    margin-top: 15px;
}
#main #footer_block .footer_top{
    background: url(../images/footer_top.png) no-repeat left;
    background-size: 100%;
    height: 14px;
    width: 467px;
}
#main #footer_block .footer{
    min-height: 65px;
    background: #000;
    display: inline-block;
    width: 100%;
    margin-bottom: -4px;
	margin-top: 95px;
}
#main #footer_block .footer .footer_logo{
    width: 300px;
    margin-left: 20px;
    height: 58px;
    margin-top: 24px;
    font-family: Century Gothic;
    float:left;
}
#main #footer_block .footer .footer_logo .logo{
    background: url(../images/footer_logo.jpg) no-repeat left;
    padding-left: 52px;
    display: block;
    height: 46px;
    width: 100%;
    color:#e7e7e7;
    line-height: 42px;
    font-size: 28px;
    text-decoration: none;
}
#main #footer_block .footer .footer_logo .rights{
    font-size: 12px;
    color:#e7e7e7;
    float:right;
    width: 240px;
    text-align: justify;
    margin-top: -5px;
   letter-spacing:7px;
}
#main #footer_block .footer .footer_menu{
    margin-left: 30px;
	width: 750px;
	float: left;
	margin-top: 15px;
}
#main #footer_block .footer .footer_menu ul{
    list-style: none;
    height: 25px;
}
#main #footer_block .footer .footer_menu ul li{
    float:left;
}
#main #footer_block .footer .footer_menu ul li a{
    color:#e7e7e7;
    text-decoration: none;
    padding-right: 34px;
    height: 25px;
    line-height: 25px;
    font-size: 32px;
    font-family: Josefin Sans;
}
#main #footer_block .footer .footer_social{
    width: 185px;
    float:right;
    margin-top: 28px;
}
#main #footer_block .footer .footer_social .facebook{
    background: url(../images/facebook.png) no-repeat left;
    width: 13px;
    height: 27px;
    display: block;
    float:left;
    margin-right: 40px;
}
#main #footer_block .footer .footer_social .twitter{
    background: url(../images/twitter.png) no-repeat left;
    width: 31px;
    height: 27px;
    display: block;
    float:left;
    margin-right: 40px;
}
#main #footer_block .footer .footer_social .pintrent{
    background: url(../images/Pinterest.png) no-repeat left;
    width: 21px;
    height: 27px;
    display: block;
    float:left;
    margin-right: 40px;
}
@media screen and (max-width: 541px){
    #main #footer_block .footer_top{
        display: none;
    }
  #main #footer_block .footer .footer_menu{
        width: 80%;
        margin-left: 20px;
        margin-top: 20px;
    }
    #main #footer_block .footer .footer_menu ul li{
         width: 80%;
    }
    #main #footer_block .footer .footer_social{
        float:left;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 381px){
    #main #footer_block .footer .footer_logo .logo{
        width: 80%;
    }
}

/* about us */
#main #content_block .about_block{
    width: 100%;
    display: inline-block;
    min-height: 300px;
}
#main #content_block .about_block .about_first{
    width: 100%;
    min-height: 50px;
    display: inline-block;
	position:relative;
}
.title-main
{
position: absolute;
top: 150px;
font-family: lobster;
color: #FFF;
font-size: 55px;
width: 100%;
text-align: center;
}
.txtAbout-1
{
float: left;
width: 100%;
position: absolute;
top: 291px;
color: #FFF;
font-family: 'josefinsansBI';
font-size: 36px;
text-align: center;
}
.txtAbout-2
{
position: absolute;
top: 545px;
color: #bdb931;
text-align: center;
width: 100%;
font-size: 40px;
font-family: josefinsansBI;
}
#main #content_block .about_block .about_first img{
    width: 100%;
}
#main #content_block .about_block .about_second{
    width: 100%;
    min-height: 137px;
    display: inline-block;
    margin-top: -4px;
}
#main #content_block .about_block .about_second .about_second_left{
    float:left;
    width: 40%;
    min-height: 200px;
    margin-top: 125px;
}
#main #content_block .about_block .about_second .about_second_right{
    float:left;
    width: 55.62%;
    min-height: 300px;
    margin-right: 45px;
}
#main #content_block .about_block .about_second .about_second_right img{
    width: 100%;
}
#main #content_block .about_block .about_second .about_second_left h2{
    font-family: Century Gothic;
    font-size: 58px;
    font-weight: normal;   
}
#main #content_block .about_block .about_second .about_second_left .text_box{
    font-size: 17px;
    font-family: Century Gothic;
    text-align: center;
     font-weight: normal;  
}
#main #content_block .about_block .about_second .about_second_left .blue_text_box{
    font-size: 20px;
    font-family: Century Gothic;
    text-align: center;
    font-weight: normal;  
    color:#15aaa4;
    margin-top: 20px;
}
@media screen and (max-width: 1137px){
    #main #content_block .about_block .about_second .about_second_left{
        margin-top: 0px;
    }
    #main #content_block .about_block .about_second .about_second_right{
        margin-right: 10px;
    }
}
@media screen and (max-width: 721px){
    #main #content_block .about_block .about_second{
        margin-top: 40px;
    }
    #main #content_block .about_block .about_second .about_second_left{
       width: 99%;
       margin-bottom: 20px;
    }
    #main #content_block .about_block .about_second .about_second_right{
    width: 96%;
    float:none;
    margin: 0 auto;
   }
    #main #content_block .about_block .about_second .about_second_left h2{
        text-align: center;
    }
}
#main #content_block .about_block .about_third{
    width: 100%;
    float:left;
    margin-top: -4px;
    min-height: 100px;
    display: inline-block;
	background:#d5d14b;
    /*background: url(../images/how_bg.png) no-repeat right;*/
}
#main #content_block .about_block .about_third .how_title{
    background: url(../images/how.jpg) no-repeat;
    width: 271px;
    height: 97px;    
}
#main #content_block .about_block .about_third .text_box{
    width: 73%;
    float:left;
    margin-top: 30px;
    font-family: Century Gothic;
    color:#212121;
    font-size: 19px;
    padding-left: 10px;
}
#main #content_block .about_block .about_third .text_box strong{
    font-weight: normal;
    font-size: 26px;
}
@media screen and (max-width: 641px){
    #main #content_block .about_block .about_third .text_box{
        width: 95%;
    }
}
#main #content_block .about_block .about_fourth{
    margin-top: -4px;
    min-height: 100px;
    display: inline-block;
    margin-left: 0px;
    float:left;
    width: 100%;
	position:relative;
}
#main #content_block .about_block .about_fourth .about_fouth_left{
    width: 61%;
    min-height: 100px;
    float:left;
}
#main #content_block .about_block .about_fourth .about_fouth_left img{
    width: 100%;
}
#main #content_block .about_block .about_fourth .about_fouth_right{
    width: 35%;
    min-height: 100px;
    background: url(../images/when_bg.png) no-repeat;
    background-size: 55%;
    float:left;
    margin-top: 95px;
    font-family: Century Gothic;
    padding-top: 50px;
    padding-left: 20px;
    margin-left: 3px;
}
#main #content_block .about_block .about_fourth .about_fouth_right h2{
    color:#ce1d39;
    font-size: 49px;
    font-weight: normal;
}

@media screen and (max-width: 1137px){
   #main #content_block .about_block .about_fourth{
        width: 95%;
        margin-top: 60px;
    }
}
@media screen and (max-width:900px){
   #main #content_block .about_block .about_fourth .about_fouth_right{
      margin-top: 40px;
    }
}
@media screen and (max-width:721px){
   #main #content_block .about_block .about_fourth .about_fouth_right{
       width: 60%;
    }
     #main #content_block .about_block .about_fourth .about_fouth_left{
       width: 95%;
    }
}
@media screen and (max-width: 481px){
   #main #content_block .about_block .about_fourth{
        width: 90%;
    }
     #main #content_block .about_block .about_fourth .about_fouth_right{
       background-size: 70%;
       width: 80%;
    }
}
#main #content_block .about_block .about_fifth{
    width: 100%;
    min-height: 500px;
    display: inline-block;
    margin-top: 0px;
	background:url(images/bottom-img.jpg) no-repeat;
}
#main #content_block .about_block .about_fifth .text_box{
    padding-top: 25px;
	min-height: 180px;
	font-weight: normal;
	font-size: 44px;
	text-align: center;
	line-height: 45px;
	padding-bottom: 40px;
	font-family: josefinsansBI;
	width: 100%;
}
#main #content_block .about_block .about_fifth .text_box h2{
    font-size: 110px;
    color:#000;
    font-weight: normal;
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}
#main #content_block .about_block .about_fifth .image_box{
    margin: -40px auto;
    width: 640px;
}
#main #content_block .about_block .about_fifth .image_box img{
    width: 100%;
}
@media screen and (max-width: 641px){
    #main #content_block .about_block .about_fifth .image_box{
    width: 98%;
}
}
#main #content_block .about_block .about_sixth{
    width: 100%;
	min-height: 200px;
	display: inline-block;
	margin-top: -4px;
	margin-bottom: 0px;
	background: #f1f0c0;
	
}
#main #content_block .about_block .about_sixth .text_box{
    min-height: 180px;
	font-family: 'josefinsansL';
	font-weight: normal;
	font-size: 34px;
	text-align: center;
	line-height: 42px;
	color: #000;
	margin-bottom: 25px;
	font-style: italic;
}
#main #content_block .about_block .about_sixth .text_box h2{
    font-size: 110px;
	font-family: 'Lobster';
	color: #bdb931;
	font-weight: normal;
	text-align: center;
	line-height: 80px;
	margin-bottom: 60px;
	margin-top: 80px;
}
#main #content_block .about_block .about_sixth .images_box{
    width:100%;
}
#main #content_block .about_block .about_sixth .images_box img{
    width: 100%;
}
@media screen and (max-width:1137px){
  #main #content_block .about_block .about_sixth{
   margin-top: 60px;
}
}
/*contact Us*/
.contact{
    width: 71.64%;
    margin: 30px auto;
    border:1px solid #f00;
}
.contact .box{
    position: relative;
}
.contact .contact_form{
    width: 94.01%;
    min-height: 200px;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    background: #fff;
    margin:0 auto; 
    z-index: 100;
}
.contact .conact_envolped{
    bottom: 0px;
    width: 100%;
    min-height: 200px;
    border: 1px solid #e7e7e7;
    margin:0 auto; 
     box-shadow: 2px 2px #e7e7e7;
}
.contact .conact_envolped .letter{
    width: 100%;
    min-height: 200px;
    margin-top: -65px;
   
    background: url(../images/letter.png) no-repeat top;
    background-size: 100%;
}
.contact_block{
    width: 100%;
    display: inline-block;
    min-height: 300px;
}
.contact_block .contact_first{
    width: 100%;
}
.contact_block .contact_first img{
    width: 100%;
}
.contact_block .contact_box{
    width: 100%;
    display: inline-block;
    min-height: 400px;
    margin-top: 15px;
}
.contact_block .contact_box .contact_left_box{
    width: 100%;
    min-height: 400px;
    background: url(../images/Contactus_left.png) repeat-y left top 80px;
    background-repeat: 100 0;
}
.contact_block .contact_box .contact_right_box{
    width: 100%;
    min-height: 400px;   
    background: url(../images/Contactus_right.png) repeat-y right top;
}
.contact_block .contact_box .contact_right_box .envloped_box{
    width: 71.64%;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}
.contact_block .contact_box .contact_right_box .envloped_box .envloped_top{
    background: url(../images/envolped_first.png) no-repeat center bottom;   
    background-size: 100%;
    width: 100%;
    height: 343px;
    position: absolute;
    bottom: 0px;
    z-index: 2; 
}
.contact_block .contact_box .contact_right_box .envolped_middle{
      position: relative;
      z-index: 3;
      bottom: 0px;
      height: 1079px;
     
}
.contact_block .contact_box .contact_right_box .envolped_back{
    background: url(../images/envolpe_back.png) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 386px;
    overflow: auto;
    position: absolute;
    bottom: 13px;
      z-index: 1;
}
.envolped_middle .form-submit{
    margin: 0px auto 0px;
    width: 270px;
    cursor: pointer;
    height: 65px;
}
.form-submit button {
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
.contact_box .form-submit .btn-default {
    background-color: #b9c227;
    border: none;
    width: 270px;
    font-family: Verdana;
    font-weight: bold;
    border-radius: 0px;
    padding: 0px;
    line-height: 64px;
    height: 64px;
    font-size: 30px;
    color: #e22342;
    margin-top: 30px;
}
 .contact_block .contact_box .form-section {
    overflow: hidden;
    margin: 0 auto;
    width: 94%;
    background: #fff;
    border:1px solid #e7e7e7;
    border-bottom: none;
}
 .contact_block .contact_box .form-section h2{
    background: url(../images/Contactus_title.jpg) no-repeat left center;
    color: #212121;
    display: block;
    font-family: Verdana;
    font-size: 25px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    padding-left: 50px;
    letter-spacing: normal;
    line-height: 45px;
    margin: 20px 0 20px 30px;
    padding: 0 50px;
    font-weight: normal;
}
 .contact_block .contact_box .form-section .form-body {
    padding: 30px 30px 0;
}
 .contact_block .contact_box .form-section label{
    color: #15aaa4;
     display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    width: 97%;
    font-family: Verdana;
    font-size: 24px;
    background: #f1f0f0;
    padding-left: 15px;
    text-align: left;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0px;
}

 .contact_block .contact_box .col-sm-10 {
    width: 98.5%;
    margin-top: 1px;
}
 .contact_block .contact_box .form-group {
     display: inline-block;
    margin-bottom: 30px;
    min-height: 35px;
    width: 100%;
}
 .contact_block .contact_box .form-group .col-sm-10 textarea{
    resize: none;
    height: 190px;
    width: 100%;
    border: 1px solid #e7e7e7;
}
 .contact_block .contact_box .form-group .col-sm-10 .form-control{
    height: 29px;
    width: 98.5%;
    padding: 3px 6px;
    border: 1px solid #e7e7e7;
}
@media screen and (max-width:1139px){
    .contact_block .contact_box .contact_right_box .envloped_box{
        width: 80%;
    }
}
@media screen and (max-width:1000px){

    .contact_block .contact_box .contact_right_box .envloped_box{
        width: 92%;
    }
    .form-control{
        width: 94%;
    }
}
@media screen and (max-width:959px){
    .contact_block .contact_box .contact_right_box .envloped_box{
        width: 95%;
    }
    .contact_block .contact_box .contact_right_box .envolped_middle{
        height: 1073px;
    }
}
@media screen and (max-width:841px){
    .contact_block .contact_box .contact_right_box .envolped_middle{
        height: 1035px;
    }
}
@media screen and (max-width:721px){
    .form-horizontal .control-label{
        text-align: left;
    }
    .form-control{
        width: 92.6%;
    }
    .contact_block .contact_box .contact_right_box .envolped_back{
        height: 270px;
    }
    .contact_block .contact_box .contact_right_box .envloped_box .envloped_top{
        height: 255px;
    }
    .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 996px;
    }
}
@media screen and (max-width:641px){
 .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 976px;
    }
        .contact_block .contact_box .contact_right_box .envolped_back{
        height: 250px;
    }
    .contact_block .contact_box .contact_right_box .envloped_box .envloped_top{
        height: 235px;
    }
}
@media screen and (max-width:581px){
 .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 945px;
    }
    .envolped_middle .form-submit,
    .contact_box .form-submit .btn-default{
        width: 200px;
        height: 50px;
        line-height: 50px;
    }
}
@media screen and (max-width:541px){
     .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 925px;
    }
}
@media screen and (max-width:481px){
    .contact_box .form-submit .btn-default{
        margin-top: 10px;
    }
     .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 915px;
    }
}
@media screen and (max-width:381px){
     .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 880px;
    }
}
@media screen and (max-width:321px){
     .contact_block .contact_box .contact_right_box .envolped_middle{
         height: 863px;
    }
    .envolped_middle .form-submit{
         width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .contact_box .form-submit .btn-default{
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        margin-top: -5px;
    }
    .form-section h2{
        font-size: 23px;
    }
}
.gerror {
    display: none;
    left: 50%;
    margin-left: -25%;
    opacity: 0.95;
    position: fixed;
    top: 100px;
    width: 50%;
    z-index: 100;
}
.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #B94A48;
}
.alert-dismissable {
    padding-right: 35px;
}
.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px;
}
button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
    float:right;
}
.alert{
    padding:15px;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px;
}
.alert h4{
    margin-top:0;
    color:inherit;
}
.alert .alert-link{
    font-weight:bold;
}
.alert>p,.alert>ul{
    margin-bottom:0;
}.alert>p+p{
    margin-top:5px;
}
.alert-dismissable{
    padding-right:35px;
}
.alert-dismissable .close{
    position:relative;
    top:-2px;
    right:-21px;
    color:inherit;
}
.alert-success{
    color:#468847;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
.alert-success hr{
    border-top-color:#c9e2b3;
}
.alert-success .alert-link{
    color:#356635;
}
.alert-info{
    color:#3a87ad;
    background-color:#d9edf7;
    border-color:#bce8f1;
}
.alert-info hr{
    border-top-color:#a6e1ec;
}
.alert-info .alert-link{
    color:#2d6987;
}
.alert-warning{
    color:#c09853;
    background-color:#fcf8e3;
    border-color:#faebcc;
}
.alert-warning hr{
    border-top-color:#f7e1b5;
}.alert-warning .alert-link{
    color:#a47e3c;
}
.alert-danger{
    color:#b94a48;
    background-color:#f2dede;
    border-color:#ebccd1;
}
.alert-danger hr{
    border-top-color:#e4b9c0;
}
.alert-danger .alert-link{
    color:#953b39;
}
/*sign up*/
.signup_block{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    min-height: 200px;
}
.signup_block .sign_first{
    width: 100%;
     margin-bottom: 20px;
}
.signup_block .sign_first img{
    width: 100%;
}
.signup_block .form-section {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    margin-top: 30px;
    overflow: hidden;
}
.signup_block .col-sm-10 {
    width: 83.3333%;
}
.signup_block .form-section .form-body{
    padding: 15px;
}
.signup_block .form-section label {
    color: #555555;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}
.signup_block .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.signup_block .form-horizontal .form-group:before, .signup_block .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.signup_block  .form-horizontal .form-group:before, .signup_block  .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.signup_block .form-section h2 {
    color: #555555;
    display: block;
    font-family: "Roboto",Arial,Helvetica,sans-serifr;
    font-size: 24px;
    font-weight: 700;
    height: 45px;
    letter-spacing: normal;
    line-height: 45px;
    margin: 10px 0 10px;
    padding: 0 20px;
}
.signup_block .glyphicon{
    margin-right: 5px;
}
.signup_block .form-submit{
    margin-top: 10px;
}
#subheader{
    background: #DFDFDF;
    font-family: Century Gothic;
    padding-bottom: 10px;
}
#subheader .row{
    width: 80%;
    margin: 0 auto;
}
#subheader h1{
    color: #18A9A4;
    font-size: 55px;
    margin-top: 10px;
    font-family: Century Gothic;
}
#subheader span{
    font-weight: 15px;
    font-family: Century Gothic;
}
@media screen and (max-width:961px){
   #subheader .row,
   #subheader .container{
       float:left;
       margin-left: 0px;
    }
}

.table thead th
{
background: url(../images/blue_strip.png) repeat-x top;
color:#FFF;
}
.glyphicon-ok {display:none}
.btn-apply .glyphicon-pencil {display:none}
.btn-apply .glyphicon-ok {display:block !important;height: 20px ;}
.btn-del {margin-right:5px ;}
.txtCen {text-align:center;}
.width-100
{
float:left;
width:100%;
}
.bg-header
{
background:url(images/bg-header.png) repeat-x;
}
.box-login
{
float:right;
margin: 40px 0px 0px 0px;
}
.box-login a
{
float:left;
width:185px;
height:52px;
line-height:52px;
text-transform:uppercase;
font-size:18px;
border:1px solid #bdb931;
border-radius:5px;
text-align:center;
color:#bdb931;
margin-left:25px;
font-family:Josefin Sans;
text-decoration:none;
}
.box-login a.active, .box-login a:hover
{
background:#bdb931;
color:#000;
}
.bg-content-mid
{
background:url(images/bg-content.png) repeat-x;
}
.gallery-home
{
float:left;
width:780px;
padding:10px 5px 8px 5px;
border-radius:10px;
background:#fff;
margin-left: 16%;
margin-top: -65px;
}
.gallery-home img
{
float:left;
margin:0px 5px 0px 5px;
border-radius: 8px;
}
.txtBig
{
font-weight: 100;
font-family: 'JosefinSansL';
font-style: italic;
font-size: 70px;
text-transform: uppercase;
color: #5e5a5a;
text-align: center;
padding:15px 0px;
}
.italic
{
font-style:italic;
}
.bg-green
{
background:url(images/bg-green.png) repeat-x;
font-family:Lobster;
font-size:50px;
text-align:center;

}
.txtSmall {
font-weight: 100;
font-family: 'JosefinSansL';
font-style: italic;
font-size: 60px;
color: #5e5a5a;
text-align: center;
padding: 15px 0px;
}
.bg-bottom
{
background:url(images/bg-bottom.jpg) no-repeat;
}
.title-1
{
font-family: 'JosefinSansBI';
font-size: 55px;
color: #FFF;
text-align: center;
margin: 80px 0px 0px 0px;
}
.title-2
{
font-family:Lobster;
font-size: 48px;
color: #f0eeab;
text-align: center;
margin: 10px 0px 0px 0px;
}
.btn-join-now
{
float:left;
width:252px;
height:64px;
color:#FFF;
background:#bdb931;
line-height:64px;
font-size:30px;
text-decoration:none;
text-transform:uppercase;
text-align:center;
border-radius:10px;
font-family:'Josefin Sans';
margin: 100px 0px 0px 42%;
}
.btn-join-now:hover
{
background:#000;
}
.footer-bottom
{
font-family:'Josefin Sans';
font-size:18px;
padding:20px 0px;
text-align:right;
color: #000;
}
.logo-bottom
{
float: right;
width: 210px;
height: 50px;
background: url(images/logo-bottom.png) no-repeat;
margin-top: 10px;
}
.txtAbout-3
{
color: #FFF;
font-size: 95px;
line-height: 135px;
}
.circle
{
background: url(images/circle.png) no-repeat;
height: 98px;
width: 98px;
line-height: 98px;
font-size: 65px;
font-family: 'Lobster';
color: #bdb931;
margin-left: 35%;
margin-bottom:30px;
margin-top:30px;
}
.block_33
{
float: left;
width: 27%;
text-align: center;
margin: 0px 3% 30px 3%;
}
.block_33 h3, .block_33 h3 a
{
font-family: 'JosefinSansBI';
font-size: 24px;
color: #000;
line-height: 26px;
text-transform: uppercase;
text-decoration:none;
}
.txtAbout-4
{
font-family: 'JosefinSansL';
font-size: 24px;
color: #000;
line-height: 26px;
}
.img-about
{
margin-top:60px;
}
.title-main-2 {
font-family: lobster;
color: #bdb931;
font-size: 110px;
width: 100%;
text-align: center;
float:left;
margin-top:50px;
}
.txtAbout-5 {
float: left;
width: 100%;
color: #FFF;
font-family: 'josefinsansL';
font-size: 35px;
font-style:italic;
text-align: center;
margin-bottom:50px;
margin-top:30px;
}
.bg-black
{
background:#000;
}
.txtAbout-6
{
float: left;
margin-left: 6%;
width: 88%;
margin-top: 60px;
}
.txtAbout-7 {
float: left;
margin-left: 6%;
width: 88%;
margin-top: 0px;
color:#000;
}
.black
{
color:#000;
font-weight:bold;
font-size:34px;
}