@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);


/*=================================================
General
=================================================*/
body {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #888888;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    padding: 0;
    padding-top: 60px;
}

a, button {
    outline: 0 !important;
}



/*=================================================
Navbar
=================================================*/

.gr-nav {
    border: medium none;

}

.gr-nav .navbar-nav > li > a {
    padding-bottom: 20px;
    padding-top: 20px;
}

.gr-nav .navbar-nav > li > a:hover {
    background: #0AA7D2;

}

.gr-nav .navbar-brand {

    padding: 20px 15px;
    color:#fff;
}

/*=================================================
SubHeader
=================================================*/

#subheader {
    background: none repeat scroll 0 0 #0AA7D2;
    color: #FFFFFF;
    padding: 20px 0;
}

#subheader h1 {
    border-right: 1px solid #0683A6;
    color: #FFFFFF;
    float: left;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-right: 40px;
    margin-top: 10px;
    padding-right: 40px;
    position: relative;
}

#subheader h1:after {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.27);
    bottom: 0;
    content: "";
    position: absolute;
    right: -2px;
    top: 0;
    width: 1px;
}

#subheader span {
    display: inline-block;
    font-size: 16px;
    padding-top: 15px;
}

#subheader.home {
    background: none repeat scroll 0 0 #0AA7D2;
    text-align: center;
    cursor: pointer;

}

#subheader.home:hover{
    transition: all 600ms;
    background: none repeat scroll 0 0 #0EC3F7;
}

#subheader.home span {
    padding: 15px 0;
    font-size: 26px;
    font-weight: bold;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    color:#fff !important;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.31);
}


/*=================================================
Slider
=================================================*/

#slider {
    min-height: 200px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#slider img {
    width: auto;
    height: 100%;

}

.homebtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*=================================================
Content-Box
=================================================*/

.content-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content-box span, .content-box a {
    position: absolute;
}

.content-box .cnt-main {
    background: none repeat scroll 0 0 rgba(17, 157, 196, 0.85);
    border-bottom: 5px solid #0D94BA;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 35px;
    line-height: 45px;
    padding: 10px 20px;
    right: 100px;
    top: 100px;
}

.content-box .cnt-sub {
    background: none repeat scroll 0 0 rgba(147, 147, 147, 0.85);
    border-bottom: 5px solid #919191;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: 25px;
    max-width: 40%;
    padding: 20px;
    right: 100px;
    text-align: center;
    top: 200px;
}

.content-box .cnt-sub.cnt-sub-sub {
    background: none repeat scroll 0 0 rgba(252, 79, 27, 0.85);
    border-bottom: 5px solid rgba(194, 50, 6, 0.66);
    top: 320px;
}


/*=================================================
Forms
=================================================*/

.form-section {
    margin-top: 30px;
    overflow: hidden;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;

}



.form-section h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #555555;
    display: block;
    font-family: "Roboto",Arial,Helvetica,sans-serifr;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    letter-spacing: normal;
    line-height: 45px;
    margin: 0 0 10px;
    padding: 0 20px;
}

.form-section h2 span {
    float: left;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 12px;
}

.form-section .form-body {
    padding: 15px;
}

.form-section label {
    color: #555555;
}

.form-section .help-block {
    color: #959595;
}
.form-submit {
    overflow: hidden;
    margin: 20px 0 40px 0;
}
.form-submit button {
    float: right;
    margin-left:10px;
}

.igpic {
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #BEBEBE;
    height: auto;
    padding: 3px;
    width: 100%;
    border-bottom-width: 3px;
}

.igbox {
    border-bottom: 1px dashed #C6C6C6;
    margin-bottom: 40px;
    padding: 0 40px 40px;
}

.form-group.iginfo {
    margin-bottom: 0;
    padding: 0;
}

.gerror {
    left: 50%;
    margin-left: -25%;
    opacity: 0.95;
    position: fixed;
    top: 100px;
    width: 50%;
    z-index: 100;
    display: none;
}

/*=================================================
 affix
=================================================*/

.affix {
    right: 0;
}
.right-affix {
    margin-top: 30px;
    overflow: hidden;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    min-height: 100px;

}

/*=================================================
Admin
=================================================*/

.admin .form-section {
    margin-top:0;
    border-top: none;
}

.admin .nav-tabs {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 0 0;

    margin-top: 20px;
}
.admin .nav-tabs li a {
    color: #666666;
}


.admin .nav-tabs li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-width: 2px;
    border-radius: 0;
    border-top: medium none;
    color: #555555;
}

.admin .nav-tabs li:first-child.active a {
    border-left: none;
}

.admin .btn-bar {
    float: right;
}

.admin .btn-bar .btn {
    padding: 0;
    background: transparent;
    margin-left: 5px;

}

.admin .btn-bar .btn.btn-del {

    color: #D50000;
}

.admin .btn-bar .btn.btn-edit {

    color: #0D5BBA;
    font-size: 13px;
}

.admin .btn-bar .btn.btn-edit .glyphicon-ok {
    display: none;
}


.admin .btn-bar .btn.btn-apply {
    color: #429608;
    font-size: 14px;
    margin-top: -5px;
}

.admin .btn-bar .btn.btn-apply .glyphicon-ok {
    display: block;
}

.admin .btn-bar .btn.btn-apply .glyphicon-pencil {
    display: none;
}



.admin .editbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    color: #747474;
    font-weight: normal;
    padding: 0 5px;
}




/*=================================================
Media
=================================================*/


@media (max-width: 500px) { 

    .gerror {
        margin-left: -40%;
        width: 80%;

    }



    .content-box .cnt-main {
        font-size: 18px;
        line-height: 25px;
        right: 2%;
        text-align: center;
        width: 96%;
    }



    .content-box .cnt-sub {



        font-size: 14px;
        line-height: 18px;
        right: 2%;
        text-align: center;
        width: 96%;
        max-width: 100%;



    }

    #subheader.home {
        padding: 10px 0;
    }

    #subheader.home span {

        font-size: 14px;

        padding: 5px 0;

    }



}
@media (max-width: 768px) {



    .content-box .cnt-main {
        font-size: 18px;
        line-height: 25px;
        right: 2%;
        text-align: center;
        width: 96%;
    }



    .content-box .cnt-sub {



        font-size: 14px;
        line-height: 18px;
        right: 2%;
        text-align: center;
        width: 96%;
        max-width: 100%;



    }

    #subheader.home {
        padding: 10px 0;
    }

    #subheader.home span {

        font-size: 14px;

        padding: 5px 0;

    }

}

@media (min-width: 992px) {
    .gerror {
        margin-left: -20%;
        width: 40%;

    }
}

@media (min-width: 1200px) { 
    .gerror {
        margin-left: -15%;
        width: 30%;

    }

}
